body {
    text-align: center;
}

h1 {
	font-family: 'Monoton', cursive;
	font-size: 50px;
	color: #2c323a;
}

.score-panel {
	margin-top: 60px;
}

#level, .level-title {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #2f65bc;
}

/* Icons for lives and refresh button, from https://material.io/icons/ */
.hearts {
	color: #e2414c;
	list-style-type: none;
	display: inline-block;
	text-align: left;
	margin: 0 60px;
}

li {
	float: left;
	margin: 0 3px;
}

#refresh-button {
	color: #03bc10;
	font-size: 20px;
	text-align: right;
	margin-left: 50px;
}

.modal-title {
	font-weight: bold;
	color: #dd131e;
}